---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <div class="px-2 md:px-32 flex-1">
    <div class="px-4 md:px-48 bg-[url('')] flex flex-col items-center">
      <a href="https://github.com/BeaconMCDev/BeaconMC" target="_blank" class="
            badge border-2 border-base-300 my-10
            hover:bg-base-300 hover:scale-110
            transition-all ease-out duration-300
          ">
        <Icon name="iconoir:github" /> We are on GitHub !
        <div class="divider divider-horizontal m-0"></div>
        <Icon
          name="iconoir:arrow-right-circle-solid"
          class="text-base-neutral"
        />
      </a>
      <h1
        class="py-4 text-center text-4xl md:text-6xl font-bold font-[Minecraft_Five]"
      >
        The <span
          class="bg-linear-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
          >lightweight</span
        ><span> 🚀</span> Python Minecraft server software!
      </h1>
      <div class="flex flex-col md:flex-row gap-4">
      <a href="https://github.com/BeaconMCDev/BeaconMC/archive/refs/heads/main.zip" target="_blank" class="btn btn-primary btn-lg w-56">
        <Icon name="iconoir:download" />
        Downloads
      </a>
      <a class="btn btn-lg w-56">
        <Icon name="iconoir:bug" />
        Crash Analyser
      </a>
      </div>
    </div>
    <div class="mt-8 py-4">
      <h2 class="text-3xl font-bold font-[Minecraft_Five]">Our goal</h2>
      <p>
        BeaconMC's goal is to provide an alternative to Java developed servers,
        and make Minecraft plugin creation easier and more accessible for Python
        developers and for new developers.
      </p>
    </div>
    <div class="py-6">
      <h2 class="text-3xl font-bold font-[Minecraft_Five]">
        An easy plugin creation
      </h2>
      <p>
        We designed the plugin system to make it easy to use, efficient and
        complete, with event handler, canceller and modifiers, and a complete
        documentation (actually in work).
      </p>
    </div>
    <div class="py-6 mb-10">
      <h2 class="text-3xl font-bold font-[Minecraft_Five]">
        Join our community
      </h2>
      <p class="mb-5">
        Join us now on our Discord server and on our GitHub, you can contribute
        and help us to develop this project by posting an issue on GitHub or a
        ticket on Discord (and by this way you can become a BeaconMC developer)
        !
      </p>
      <a class="btn btn-lg bg-indigo-600">
        <Icon name="iconoir:discord" />
        Join the discord
      </a>
    </div>
  </div>
</Layout>
