---
---
<footer class="footer sm:footer-horizontal bg-base-300 text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <p>This website is <a class="link link-primary">open-source</a>.</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
  </nav>
</footer>