<div class="w-full p-4 md:px-20">
  <div class="navbar bg-transparent border-2 border-base-300 rounded-lg py-0 shadow-xl">
    <div class="flex-1">
      <a href="/" class="flex gap-2 items-center font-[Minecraft_Five] link link-hover">
        <img src="/logo.png" class="w-8 h-8" />
        BeaconMC
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Home</a></li>
        <li>
          <details>
            <summary>Documentation</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a href="/docs">Home</a></li>
              <li><a href="/docs/installation">Installation</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</div>
